.selected {
  background-color: rgba(192, 192, 192, 0.2);
  border-radius: 10%;
  padding: 0.3em;
  cursor: pointer;
}

.unselected {
  padding: 0.3em;
  cursor: pointer;
  &:hover {
    background-color: rgba(192, 192, 192, 0.1);
  }
}