.previewBox {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -35px;
  margin-top: -6px;
  color: black;
  box-shadow: 0 0 10px 1px black;
  background-color: aliceblue;
  border-radius: 4px;
}