.tag {
  display: flex;
  color: black;
  align-items: center;
  margin: 0 0.5em;
  padding: 0 0.5em;
  border-radius: 1em;
  cursor: pointer;
  &:hover {
    background-color: rgb(62, 56, 65);
    transition: 0.1s;
  }
}

.pin {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
}

.text {
  flex: 1;
  text-align: left;
  padding-left: 1em;
}