.paper {
  max-width: 48em;
  margin: 30px auto;
  padding: 5% 0;
}

.notes {
  font-size: 12pt;
  line-height: 14.4pt;
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: left;
  hyphens: auto;
  white-space: pre-wrap; /* This line is VERY IMPORTANT!!! */
}