.quote {
  display: block;
  float: left;
  width: 79.4%;
  max-width: 80%;
  text-align: distribute;
  border-left: 2.5px solid rgb(175, 175, 175);
  margin: 1em 50px;
  padding-left: 10px;
  color: rgb(192, 192, 192);
  font-family: "Times New Roman";
}