.App {
  text-align: center;
}

body {
  margin: 0; 
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: #ffffff;
}

.user img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.display-box {
  width: 90%;
  border: none;
  background-color: rgba(205, 209, 211, 50%);
  margin: 10px;
  min-height: 25px;
}

.inline-math-box {
  border: 3px;
  background-color: rgba(205, 209, 211, 100%);
  min-height: 22px;
  min-width: 50px;
}

.TeX-input-box {
  resize: none;
  width: 90%;
  height: 100px;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
  margin-left: 10px;
}

.notes {
  width: 90%;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
}
